/* h1{
    background: red;
    color: rgb(232, 55, 55);

}
h2{
    color: orange;
} */ 

@import url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.tudocelular.com%2Ftech%2Fnoticias%2Fn159872%2Fimagens-proximas-sol-revelam-dados-importantes.html&psig=AOvVaw1RkGlOB6l06oTg2k-XxFWW&ust=1679492581181000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCPCFoseT7f0CFQAAAAAdAAAAABAI);
